.features {
  padding: 2rem;
  text-align: center;
}

.features-name h2 {
  font-size: 2rem;
  text-align: center;
}

.feature-grid {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 2rem; 
}

.feature {
  width: 300x;
}

.feature img {
  width: 100%;
  border-radius: 8px;
}

