doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title E-commerce Store 
        link(rel="stylesheet", href="/css/styles.css")
    body 
        header.site-header 
          include partials/nav 
        main.container 
          block content 
        footer.site-footer 
          p © 2025 Demo site for HTTP Lab 2
