.hero {
  position: relative;
  text-align: center;
  color: white;
}
.hero-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  filter: brightness(60%);
}
.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}